* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  color: #1e2329;
}

.app-container {
  width: 100%;
  max-width: 428px;
  min-height: 926px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Header */
.header {
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 19px;
  font-weight: 600;
}

.icon-back {
  position: absolute;
  left: -11px;
  top: 50%;
  transform: translateY(-50%);
  width: 77px;
  height: 63px;
  object-fit: contain;
}

.icon-support {
  position: absolute;
  right: -27px;
  top: -27px;
  width: 130px;
  height: 130px;
  object-fit: contain;
}

/* Summary */
.summary {
  text-align: center;
    padding: 2px 15px 33px;
    border-bottom: 1px solid #f1f1f1;
}
.floating-ai {
    position: fixed;
    bottom: 120px;
    right: 16px;
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}
.floating-ai img { width: 110px; }
.summary .amount {
     /* font-size: 30px;
    line-height: 1;
    font-weight: 550;
    color: #030303;
    margin-bottom: 18px;
    letter-spacing: -0.4px; */
    font-size: 30px;
    line-height: 1;
    font-weight: 650;
    letter-spacing: -0.4px;
    margin-bottom: 16px;
    color: #050505;
}

.status {
  position: relative;
  height: 30px;
  margin-bottom: 6px;
  margin-right: -26px;
}

.status-icon {
       position: absolute;
    left: 49%;
    top: 33%;
    width: 72px;
    height: 66px;
    transform: translate(-78px, -50%);
    object-fit: contain;
}

.status-text {
color: #2cb27f;
    font-size: 15px;
    /* font-weight: 550; */
    line-height: 24px;
    margin-left: 19px;
}

.summary p {
  width: 100%;
  max-width: 395px;
  margin: 0 auto;
  color: #7d8794;
  font-size: 12px;
  line-height: 1.45;
  font-weight: 400;
  text-align: center;
}

/* Details */
.details {
  padding: 28px 18px 8px;
      border-bottom: 1px solid #f1f1f1;
}

.detail-row {
  display: grid;
  grid-template-columns: 118px 1fr;
  gap: 10px;
  margin-bottom: 15px;
  align-items: start;
}

/* chữ xám bên trái */
.detail-row span {
      color: #8a8f98;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35;
}

/* chữ đen bên phải */
.detail-row strong {
  /* color: #1e2329; */
  text-align: right;
  font-size: 14.7px;
  font-weight: 500;
  line-height: 1.35;
   
 

  color: #111;
}
.detail-row:last-child strong {
  font-size: 15px;
  font-weight: 450;
  color: #2b3139;
  letter-spacing: -0.15px;
}
.detail-row:nth-child(4) strong {
  font-weight: 500;
  color: #1f2328;
}
/* ID giao dịch gạch chân */
.detail-row strong.underline {
  color: #2b3139;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.break-text {
  word-break: break-word;
}
.break-text {
  word-break: break-all;
}

.underline {
  text-decoration: underline;
}

/* Market */
/* ===== MARKET LIST GIỐNG ẢNH MẪU ===== */
.market-list {
  padding: 15px 12px 0;
}

.market-card {
  height: 74px;

  border: 1px solid #eeeeee;
  border-radius: 14px;

  padding: 0 13px 0 15px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.035);
}

/* USDC /USDT */
.pair {
  display: flex;
  align-items: baseline;

  font-size: 15px;
  line-height: 1;

  letter-spacing: -0.15px;
}

.pair b {
  font-size: 15px;
  font-weight: 600;
  color: #111;
}

.pair span {
  font-size: 13px;
  font-weight: 400;
  color: #8b8f98;

  margin-left: 1px;
}

/* giá + phần trăm */
.price {
  margin-top: 10px;

  font-size: 17px;
  font-weight: 560;

  color: #111;
  letter-spacing: -0.28px;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
}

.price span {
  font-size: 15px;
  font-weight: 550;

  margin-left: 4px;
  letter-spacing: -0.2px;
}

.green {
  color: #16c784;
}

.red {
  color: #f44758;
}

/* nút vàng */
.market-card button {
    width: 118px;
    height: 31px;
    border: none;
    border-radius: 8px;
    background: #fcd535;
    font-size: 13px;
    font-weight: 550;
    letter-spacing: -0.15px;
    color: #111 !important;
    -webkit-text-fill-color: #111 !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06);
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue", Arial, sans-serif;
}
/* Floating */
.ai-button {
  position: fixed;
  right: calc(50% - 190px);
  bottom: 84px;
  width: 44px;
  height: 44px;
  border: none;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 28px rgba(0,0,0,0.15);
  font-size: 20px;
}

.home-indicator {
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: 145px;
  height: 5px;
  background: #000;
  border-radius: 10px;
  transform: translateX(-50%);
}
.detail-value {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* gap: 7px; */
}

/* Copy icon Binance */
.copy-icon {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  flex-shrink: 0;
  margin-left: 5px;
  margin-top: 1px;
}

.copy-icon::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 6px;
  border: 1.6px solid #aeb4bc;
  border-radius: 1px;
}

.copy-icon::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 4px;
  left: 2px;
  border: 1.6px solid #aeb4bc;
  border-radius: 1px;
  background: #fff;
}